<div class="relative flex flex-col lg:flex-row h-screen bg-blue-50">
  <div class="w-full lg:w-3/4 h-[calc(100vh-200px)] lg:h-full bg-[#d1e7ff] shadow-md overflow-y-auto pb-[120px] transition-transform duration-300"
       [ngClass]="{ 'shake': shakeEffect }">
    
    <div class="sticky top-0 z-50 bg-[#0365ac] text-white flex justify-center items-center py-2 shadow-md">
      <h2 class="text-xl font-bold">⏱ {{ formatTime(remainingTime) }}</h2>
    </div>

    <h2 class="text-xl font-bold text-center mb-4">Sélectionnez une famille</h2>

    <app-game-board
    [cosmeticComponents]="cosmeticComponents"
    (selectFamily)="openModal($event)">
    </app-game-board>
  
  </div>

  <div class="w-full lg:w-1/4 bg-[#cfe2f3] p-4 shadow-lg overflow-y-auto">

    <app-family
      [componentFamilies]="componentFamilies"
      [familyDropTargets]="familyDropTargets">
    </app-family>
  </div>


  <div *ngIf="showErrorNotification"
       class="fixed top-4 left-1/2 transform -translate-x-1/2 bg-red-600 text-white px-4 py-2 rounded shadow-md animate-fade-in-out z-50">
    Mauvaise famille ! Réessayez.
  </div>

  <app-modal 
  [modalOpen]="modalOpen" 
  [componentFamilies]="componentFamilies" 
  [selectedComponent]="selectedComponent"
  [incorrectAttempts]="incorrectAttempts"
  (selectFamily)="selectFamily($event)" 
  (closeModal)="closeModal()">
  </app-modal>

</div>
